docs/CustomForm.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomForms" type="FormsList"/>
  <xs:complexType name="FormsList">
    <xs:sequence>
      <xs:element name="Form" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Caption" type="xs:string"/>
            <xs:element name="IconPath" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="RibbonGroup" type="xs:string"/>
            <xs:element name="DatabaseInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Table" type="xs:string"/>
                  <xs:element name="Fields" type="FieldsList"/>
                  <xs:element name="Constraints" minOccurs="0" maxOccurs="1" type="ConstraintList"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ToolbarInfo" minOccurs="0" maxOccurs="1" type="ToolbarList"/>
            <xs:element name="FilterInfo" minOccurs="0" maxOccurs="1" type="FilterRowList"/>
          </xs:sequence>
          <xs:attribute name="ShowImportButton" type="xs:boolean" use="optional"/>
          <xs:attribute name="ShowInsertButton" type="xs:boolean" use="optional"/>
          <xs:attribute name="ShowEditButton" type="xs:boolean" use="optional"/>
          <xs:attribute name="ShowDeleteButton" type="xs:boolean" use="optional"/>
          <xs:attribute name="ShowPrintButton" type="xs:boolean" use="optional"/>
          <xs:attribute name="GroupFooters" type="xs:nonNegativeInteger" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FieldsList">
    <xs:sequence>
      <xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="FieldName"/>
            <xs:element name="Caption" type="xs:string"/>
            <xs:element name="Type" type="FieldType"/>
            <xs:element name="SourceQuery" minOccurs="0" maxOccurs="1" type="xs:string"/>
          </xs:sequence>
          <xs:attribute name="ReadOnly" type="xs:boolean" use="optional"/>
          <xs:attribute name="UpdateAfterFileImport" type="xs:boolean" use="optional"/>
          <xs:attribute name="InKey" type="xs:boolean" use="optional"/>
          <xs:attribute name="InWhere" type="xs:boolean" use="optional"/>
          <xs:attribute name="InUpdate" type="xs:boolean" use="optional"/>
          <xs:attribute name="IsProgressive" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConstraintList">
    <xs:sequence>
      <xs:element name="Unique" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FieldName">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*.+\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FieldType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*((VARCHAR\(\d+\))|(INTEGER)|(SMALLINT)|(BIT)|(NUMERIC\(\d+,\d+\))|(DATE)|(DATETIME2\(6\))|(VARCHAR\(max\))|(IMAGEPATH)|(CHAR\(\d+\)))\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ToolbarList">
    <xs:sequence>
      <xs:element name="Toolbar" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Caption" type="xs:string"/>
            <xs:element name="ButtonInfo" type="ButtonList"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ButtonList">
    <xs:sequence>
      <xs:element name="Button" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Code" type="ButtonCode"/>
            <xs:element name="Caption" type="xs:string"/>
            <xs:element name="StoredProcedure" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="xs:string"/>
                  <xs:element name="ParameterInfo" type="ParameterList"/>
                </xs:sequence>
                <xs:attribute name="RefreshAfterExecution" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="Application" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="xs:string"/>
                  <xs:element name="WorkingDirectory" type="xs:string"/>
                  <xs:element name="ParameterInfo" type="ParameterList"/>
                </xs:sequence>
                <xs:attribute name="RefreshAfterExecution" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="WindowsOpen" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ParameterInfo" type="ParameterList"/>
                </xs:sequence>
                <xs:attribute name="RefreshAfterExecution" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="CustomForm" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="xs:string"/>
                  <xs:element name="FilterInputInfo" type="FilterInputList"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="DLLProcedure" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LibName" type="xs:string"/>
                  <xs:element name="ProcName" type="xs:string"/>
                  <xs:element name="ProcCalling" type="ProcCallingValueList"/>
                  <xs:element name="ParameterInfo" type="ParameterList"/>
                </xs:sequence>
                <xs:attribute name="RefreshAfterExecution" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Type" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ButtonCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*.+\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProcCallingValueList">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*((STDCALL)|(CDECL))\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ParameterList">
    <xs:sequence>
      <xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Value" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="ParamType" minOccurs="0" maxOccurs="1" type="ParameterTypeList"/>
          </xs:sequence>
          <xs:attribute name="Type" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ParameterTypeList">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*((STRING)|(SMALLINT)|(INTEGER)|(FLOAT)|(STRING)|(BOOL))\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FilterRowList">
    <xs:sequence>
      <xs:element name="FilterRow" minOccurs="0" maxOccurs="unbounded" type="FilterList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilterList">
    <xs:sequence>
      <xs:element name="Filter" minOccurs="0" maxOccurs="unbounded" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Field" type="xs:string"/>
            <xs:element name="Caption" type="xs:string"/>
            <xs:element name="TrueValue" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="FalseValue" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="Query" type="xs:string" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
          <xs:attribute name="Type" type="xs:nonNegativeInteger" use="required"/>
          <xs:attribute name="MultiSelect" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilterInputList">
    <xs:sequence>
      <xs:element name="FilterInput" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>  
          <xs:sequence>
            <xs:element name="FilterField" minOccurs="1" maxOccurs="1" type="xs:string"/>
            <xs:element name="FilterValueInfo" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Value" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ValueFrom" minOccurs="0" maxOccurs="1" type="xs:string"/>
                  <xs:element name="ValueTo" minOccurs="0" maxOccurs="1" type="xs:string"/>
                </xs:sequence>
                 <xs:attribute name="Type" type="xs:nonNegativeInteger" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Type" type="xs:nonNegativeInteger" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>